* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ================= NAVBAR ================= */
.navbar {
  background: #131921;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

/* LOGO */
.logo img {
  width: 80px;
 
  height: auto;

}
/* ADDRESS */
.nav-address {
  font-size: 12px;
}

.add-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-second {
  font-weight: bold;
}

/* SEARCH */
.nav-search {
  display: flex;
  width: 40%;
}

.search-select {
  padding: 8px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: none;
}

.search-icon {
  background: #febd69;
  padding: 8px 12px;
  color: black;
}

/* NAV ITEMS */
.nav-signin,
.nav-return,
.nav-cart {
  cursor: pointer;
}

.nav-second {
  font-weight: bold;
}

.nav-cart i {
  margin-right: 5px;
}

/* ================= SECOND NAV ================= */
.panel {
  background: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.panel-ops {
  display: flex;
  gap: 15px;
  margin-left: 20px;
  font-size: 14px;
}

/* ================= HERO ================= */
.hero {
  background: url("https://images.unsplash.com/photo-1586023492125-27b2c045efd7") center/cover;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ================= PRODUCTS ================= */
.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.footer {
  margin-top: 40px;
  color: white;
  font-size: 14px;
}

/* TOP */
.footer-top {
  background: #37475a;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

/* MAIN */
.footer-main {
  background: #232f3e;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
}

.footer-col h3 {
  margin-bottom: 10px;
}

.footer-col p {
  margin: 5px 0;
  color: #ddd;
  cursor: pointer;
}

.footer-col p:hover {
  text-decoration: underline;
}

/* BOTTOM */
.footer-bottom {
  background: #131921;
  text-align: center;
  padding: 15px;
}